/* Typography */
@font-face {
  font-family: 'Basier Circle';
  src: url('../fonts/basiercircle-regular-webfont.eot');
  src: url('../fonts/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-regular-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-regular-webfont.woff') format('woff'),
    url('../fonts/basiercircle-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../fonts/basiercircle-semibold-webfont.eot');
  src: url('../fonts/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-semibold-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-semibold-webfont.woff') format('woff'),
    url('../fonts/basiercircle-semibold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Post Box';
  src: url('../fonts/PostBox-Regular.woff2') format('woff2'),
    url('../fonts/PostBox-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
}

:root {
  --clr-base: #5d3eb2;
  --clr-base-light: #8559ff;
  --clr-base-ultralight: #ece5ff;
  --clr-base-dark: #422d80;
  --clr-base-darker: #281b4d;

  --clr-white: #fff;
  --clr-grey-ultralight: #f2f2f2;

  --clr-accent-one: #faed7a;
  --clr-accent-two: #49b0ad;
  --clr-accent-two-dark: #347d7b;
  --clr-accent-three: #ff7872;
}

::-moz-selection {
  background-color: var(--clr-base);
  color: var(--clr-accent-one);
}

::selection {
  background-color: var(--clr-base);
  color: var(--clr-accent-one);
}

body {
  font-family: 'Basier Circle', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 16px;
  color: var(--clr-base-darker);
  line-height: 1.2;
}

/* Utils */
.em {
  color: var(--clr-accent-three);
}

a:link,
a:visited {
  color: var(--clr-base);
}

a:hover {
  color: var(--clr-base-dark);
}

a:active {
  color: var(--clr-base-dark);
}

a {
  text-decoration: none;
}

.mb--hidden {
  display: none !important;
}

.mb--visible {
  display: block !important;
}

.mb--visual {
  display: block !important;
}

.pill {
  display: inline-block;
  border-radius: 9999px;
  background-color: white;
  padding: 0.75rem 1rem;
  white-space: nowrap;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

.pill,
.pill:active,
.pill:focus,
.pill:hover,
.pill:link,
.pill:visited {
  -webkit-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.pill:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.navigation {
  text-align: center;
  background-color: var(--clr-base-dark);
  padding: 1rem;
}

.brand--logo {
  height: 3rem;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu--item--link {
  display: inline-block;
  padding: 0.75rem 1rem;
  white-space: nowrap;
}

.menu--item--link:link,
.menu--item--link:visited {
  color: var(--clr-base-ultralight);
}

.menu--item--link:hover,
.menu--item--link:active {
  color: var(--clr-base-light);
}

.menu--item--link__selected {
  color: var(--clr-accent-one) !important;
}

.menu--item--link__cta {
  background: var(--clr-accent-one);
  color: var(--clr-base-dark);
}

.menu--item--link__cta:link,
.menu--item--link__cta:visited {
  color: var(--clr-base-dark);
}

.menu--item--link__cta:hover,
.menu--item--link__cta:active {
  color: var(--clr-base-darker);
}

/* Burger animation config */
.burger--icon,
.burger--icon:before,
.burger--icon:after {
  -webkit-transition-property: border-color, -webkit-transform;
  transition-property: border-color, -webkit-transform;
  -o-transition-property: transform, border-color;
  transition-property: transform, border-color;
  transition-property: transform, border-color, -webkit-transform;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  -o-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}

.burger--icon {
  -webkit-transition-delay: 0.125s;
  -o-transition-delay: 0.125s;
  transition-delay: 0.125s;
}

.burger--icon:before,
.burger--icon:after {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

/* Burger animation after checked */
.burger:checked+.burger--toggle .burger--icon {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.burgerchecked+.burger--toggle .burger--icon:before,
.burger:checked+.burger--toggle .burger--icon:after {
  -webkit-transition-delay: 0.025s;
  -o-transition-delay: 0.025s;
  transition-delay: 0.025s;
}

.burger:checked+.burger--toggle .burger--icon:before {
  -webkit-transform: translateY(8px) rotate(135deg);
  -ms-transform: translateY(8px) rotate(135deg);
  transform: translateY(8px) rotate(135deg);
  border-color: var(--clr-accent-one);
}

.burger:checked+.burger--toggle .burger--icon {
  border-color: transparent;
}

.burger:checked+.burger--toggle .burger--icon:after {
  -webkit-transform: translateY(-6px) rotate(-135deg);
  -ms-transform: translateY(-6px) rotate(-135deg);
  transform: translateY(-6px) rotate(-135deg);
  border-color: var(--clr-accent-one);
}

.nav--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  z-index: 20;
}

.nav--overlay__visible {
  display: block;
}

.nav--overlay__hidden {
  display: none;
}

.nav--toggle {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 30;
}

.burger {
  display: none;
}

.burger--toggle {
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 4px;
}

.burger--icon {
  position: relative;
  width: 24px;
  height: 16px;
  display: block;
}

.burger--icon:before,
.burger--icon:after {
  border-top: 2px solid white;
  content: '';
  position: absolute;
  left: 0px;
  right: 0;
}

.burger--icon:before {
  top: 0px;
}

.burger--icon:after {
  bottom: 0px;
}

/* Home */
.hero {
  margin: 0;
  padding: 0;
  background-color: var(--clr-base);
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center center;
}

.hero--note {
  display: none;
}

.hero--content {
  padding: 4rem 1.25rem;
  text-align: center;
  color: var(--clr-base-ultralight);
  margin: 0 auto;
  max-width: 880px;
}

.pricing .hero--content {
  padding: 4rem 1.25rem 1.25rem 1.25rem;
}

.hero--title {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: var(--clr-white);
}

.hero--lead {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}

.hero--link {}

.hero--link__more:link,
.hero--link__more:visited {
  color: var(--clr-accent-one) !important;
}

.hero--link__more:hover,
.hero--link__more:active {
  color: var(--clr-white) !important;
}

.hero--link__cta {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0;
  background-color: var(--clr-accent-one);
  color: var(--clr-base-dark);
  font-weight: bold;
  min-width: 335px;
}

.hero--small {
  font-size: 1rem;
  opacity: 0.65;
  line-height: 1.2;
  display: none;
}

.hero--devider {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.hero--devider--image {
  width: 100%;
  height: auto;
}

.note--copy {
  text-align: center;
  font-family: 'Post Box', cursive;
  font-size: 1.5rem;
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.note--icon {
  width: 2.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.note--icon path {
  fill: var(--clr-accent-three);
}

.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.demo--title {
  margin: 0px auto;
  font-size: 2.375rem;
  text-align: center;
  max-width: 280px;
}

.demo--visual {
  width: 100%;
  padding: 0rem 1.25rem;
}

.features {}

.features--title {
  font-size: 2.25rem;
  text-align: center;
  color: var(--clr-base);
  padding-top: 1rem;
}

.feature {
  background: var(--clr-base-ultralight);
}

.feature:nth-child(odd) {
  background: var(--clr-white);
}

.feature--visual {
  width: 100%;
}

.feature--header {
  padding: 0rem 1.25rem;
}

.feature--title {
  margin: 0;
}

.feature--content {
  padding: 0rem 1.25rem;
}

.feature--copy {}

.feature--footer {
  padding: 0rem 1.25rem 2.25rem 1.25rem;
}

.feature--link {
  font-weight: bold;
  color: var(--clr-base-light);
}

.feature--link:link,
.feature--link:visited {
  color: var(--clr-base-light);
}

.feature--link:hover,
.feature--link:active {
  color: var(--clr-base);
}

.feature--link__inline {}

.manifesto--visual {
  width: 4rem;
  margin-bottom: 2rem;
}

.manifesto {
  width: 100%;
  padding: 4rem 1.25rem;
  margin: 0;
  text-align: center;
  color: var(--clr-base-ultralight);
  background-image: url('../img/hero.jpg');
}

.manifesto--container {
  max-width: 880px;
}

.manifesto--title {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  color: var(--clr-accent-one);
}

.manifesto--lead {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: -0.05rem;
}

.followus {}

.followus--title {
  font-size: 2rem;
  text-align: center;
  color: var(--clr-base);
  margin: 4rem 0 0 0;
  padding: 0;
}

.followus--note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 4rem;
  font-size: 1.25rem;
  font-family: 'Post Box', cursive;
  margin: 0 2rem 1rem 2rem;
}

.followus--note .note--icon {
  width: 1rem;
  padding: 0.5rem;
}

.followus--note .note--icon path {
  fill: var(--clr-base-light);
}

.followus--button {
  text-align: center;
  padding-bottom: 4rem;
}

.followus--pill {
    font-size: 1.25rem;
    padding: 1rem 2rem;
    margin: 0 0 1rem 0;
    background-color: var(--clr-base);
    color: var(--clr-accent-one) !important;
    font-weight: bold;
    min-width: 335px;
}

.form--email {
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--clr-base-ultralight);
  min-width: 335px;
  margin-bottom: 1rem;
}

.form--email:focus,
.form--email:active,
.form--submit:focus,
.form--submit:active {
  outline: none;
  border-color: var(--clr-base-light);
  -webkit-box-shadow: 0 0 1pt 1pt rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 1pt 1pt rgba(0, 0, 0, 0.25);
}

.form--submit {
  min-width: 335px;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--clr-base);
  background: var(--clr-base);
  color: var(--clr-accent-one);
  cursor: pointer;
}

.form--copy {
  font-size: 1rem;
  opacity: 0.65;
  line-height: 1.2;
}

.footer {
  background: var(--clr-base-darker);
  color: var(--clr-base-ultralight);
}

.footer--header {
    margin: 0;
}

.footer--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .list--item {
  margin-bottom: 0.5rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.list--link:link,
.list--link:visited {
  color: var(--clr-base-ultralight);
}

.list--link:hover,
.list--link:active {
  color: var(--clr-accent-one);
}

/* Blog */

body {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  padding-bottom: 12rem;
  /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem;
  /* Footer height */
  padding: 1rem;
}

.page--header {
  background-color: var(--clr-white);
  overflow: hidden;
}

.header--title {}

.header--title__blog {
  font-size: 2.5rem;
  color: var(--clr-base);
  font-family: 'Post Box', cursive;
  font-weight: normal;
  text-align: center;
}

.header--title__small {
  font-size: 1.5rem;
}

.featured {}

/* Mobile: Featured article */
.featured--article {
  background: var(--clr-grey-ultralight);
}

.fa--visual {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
}

.fa--header {
  padding: 0rem 1.25rem;
}

.fa--title {
  margin: 0;
}

.fa--meta {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.meta--item {
  margin-bottom: 0.5rem !important;
}

.meta--tag {
  background-color: var(--clr-base-ultralight);
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.2rem;
  border-radius: 3px;
  margin-right: 1rem;
}

.meta--date {
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.2rem;
}

.fa--content {
  padding: 0rem 1.25rem;
  line-height: 1.5;
}

.fa--footer {
  padding: 0rem 1.25rem 2.25rem 1.25rem;
}

.fa--link {
  font-weight: bold;
  color: var(--clr-base-light);
}

.fa--link:link,
.fa--link:visited {
  color: var(--clr-base-light);
}

.fa--link:hover,
.fa--link:active {
  color: var(--clr-base);
}

.fa--link__inline {}

/* Mobile: Article Card */
.articles,
.related--articles {
  padding: 1.25rem 0rem;
}

.articles--overview {
  padding: 1.25rem 0.5rem;
}

.article--card {
  background: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.ac--header {
  padding: 1rem 1rem 0 1rem;
}

.ac--header--meta {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: right;
}

.ac--title {
  margin: 0;
}

.ac--content {
  padding: 0rem 1rem;
  line-height: 1.5;
}

.ac--content h2 {
    margin-block-start: 2rem;
    margin-block-end: 0rem;
}

.ac--content h3 {
    margin-block-start: 1.25rem;
    margin-block-end: 0rem;
}

.ac--content p {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
}

.ac--content a {
    font-weight: bold;
}

.ac--content img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.ac--author {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.ac--author img {
    border-radius: 8px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.ac--meta {
  list-style-type: none;
  padding: 0rem 1rem 0.5rem 1rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.ac--meta .meta--tag {
  margin-right: 0.25rem;
  margin-bottom: 0.5rem !important;
}

.ac--meta__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.ac--meta__right {
  text-align: right;
  min-width: 120px;
}

.ac--excerpt {
  padding: 0rem 1rem;
  line-height: 1.5;
}

.ac--excerpt a {
  color: var(--clr-base-darker);
  font-weight: normal;
}

/* Blog detail */
.blog--detail {
  background-color: var(--clr-white);
}

.article--full {
  background: var(--clr-white);
  margin-bottom: 2rem;
  width: 100%;
}

.article--full .ac--title {
  margin-bottom: 1rem;
}

.article--full .ac--meta {
  padding: 0;
}

.ac--visual {
  width: 100%;
  border-radius: 8px;
}

.ra--visual {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
}

.related {
  background-color: var(--clr-white);
  padding-top: 1rem;
}

.related--title {
  font-size: 2rem;
  text-align: center;
  color: var(--clr-base-light);
  padding: 0;
}

/* Plans & Pricing*/

.plan--wrapper {
  background-color: var(--clr-base);
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center center;
}

/* .pricing .wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 225vh;
  z-index: 10;

  background-color: var(--clr-base-ultralight);
  background-image: url('../img/hero.jpg');
  background-size: 100% 50%;
  background-position: top center;
  background-repeat: no-repeat;
}

.pricing .wrapper>* {
  position: relative;
  z-index: 100;
} */

.plans {
  margin: 0 auto;
  padding: 0 1.5rem 2rem 1.5rem;
  max-width: 1280px;
}

.plan--card {
  background: var(--clr-white);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 2rem;
}

.plan--title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.05rem;
  margin: 0;
  padding: 1rem 0;
  line-height: 1;
}

.plan--fee {
  background: grey;
  text-align: center;
}

.plan--fee__free {
  background: var(--clr-accent-two);
}

.plan--fee__basic {
  background: var(--clr-base);
}

.plan--fee__tailored {
  background: var(--clr-base-darker);
}

.fee--price {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: -0.25rem;
  color: var(--clr-white);
}

.fee--period {
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--clr-white);
}

.plan--cta {
  margin-bottom: 2rem;
  background: var(--clr-accent-one);
  color: var(--clr-base-darker);
}

.plan--content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.specs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.spec--item {
  margin: 1rem;
  border-bottom: 1px solid var(--clr-base-ultralight);
}

.spec--item:last-child {
  border-bottom: none;
}

.spec--item--title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.spec--item--description {
  margin: 0;
  padding: 0 0 1rem 0;
}

.plan--footer {
  text-align: center;
}

.plan--cta__footer {
  background: var(--clr-white);
  border: 1px solid var(--clr-base);
}

.promises {
  margin: 0 auto;
  padding: 1rem 1rem 4rem 1rem;
  background: var(--clr-white);
  text-align: center;
  max-width: 1280px;
}

.promises--image {
  padding: 4rem 0 0 0;
}

.promises--title {
  font-size: 3rem;
  margin: 0;
  padding: 0 0 2rem 0;
  color: var(--clr-base);
  font-family: 'Post Box', cursive;
  font-weight: normal;
  text-align: center;
}

.promise {
  border-bottom: 1px solid var(--clr-base-ultralight);
  width: 100%;
  padding: 0rem 1.5rem;
  background: white;
}

.promise--item--title {
  text-align: left;
}

.promise--item--copy{
  text-align: left;
}

.promise:last-child {
  border-bottom: none;
}

.promise--cta {
  background: var(--clr-base);
  color: var(--clr-accent-one) !important;
}

.promises--footer {
  margin-bottom: 4rem;
}

@media (min-width: 940px) {
  .wrapper {
    padding-bottom: 8rem;
    /* Footer height */
  }

  .footer {
    height: 8rem;
    /* Footer height */
  }

  .hero--content {
    padding: 4rem 1.25rem 0 1.25rem;
  }

  .hero--note {
    position: absolute;
    top: 4rem;
    right: 4rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto;
    max-width: 200px;
    -webkit-transform: rotate(-3deg) scale(0.8);
    -ms-transform: rotate(-3deg) scale(0.8);
    transform: rotate(-3deg) scale(0.8);
    color: var(--clr-accent-three);
  }

  .mb--hidden {
    display: inherit !important;
  }

  .mb--visible {
    display: none !important;
  }

  .mb--visual {
    display: none !important;
  }

  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .pricing .wrapper {
    padding-bottom: 0;
  }

  .pricing .footer {
    position: relative;
    z-index: 100;
  }

  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero--title {
    font-size: 4.5rem;
  }

  .hero--lead {
    font-size: 2rem;
  }

  .demo--title {
    font-size: 3.5rem;
    max-width: 880px;
  }

  .hero--small {
    margin: 0 auto;
    font-size: 1.2rem;
    opacity: 0.65;
    line-height: 1.2;
    max-width: 400px;
    display: none;
  }

  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .features--title {
    font-size: 4rem;
    padding-top: 3rem;
  }

  .feature--visual {
    width: 50%;
    max-width: 720px;
  }

  .feature--container {
    width: 50%;
    max-width: 720px;
  }

  .feature--title {
    font-size: 2.25rem;
  }

  .feature--copy {
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .feature--link {
    font-size: 1.25rem;
  }

  .manifesto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .manifesto--title {
    font-size: 4.5rem;
  }

  .manifesto--lead {
    font-size: 2rem;
  }

  .followus--note {
    margin: 2rem auto 3rem auto;
    font-size: 4rem;
    padding: 0;
    line-height: 1;
    max-width: 880px;
  }

  .followus--note p {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .form--submit {
    margin-left: 1rem;
    min-width: auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
  }

  /* blog */
  .header--title__blog {
    font-size: 4rem;
  }

  .header--title__small {
    font-size: 2rem;
  }

  /* Desktop: Featured article */
  .featured--article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .fa--visual {
    width: 50%;
    max-width: 720px;
    padding: 3rem 1rem;
  }

  .fa--container {
    width: 50%;
    max-width: 720px;
  }

  .fa--title {
    font-size: 2.25rem;
  }

  .fa--excerpt {
    font-size: 1.25rem;
  }

  /* Desktop: Article Card */
  .articles,
  .related--articles {
    max-width: 1480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .article--card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 1rem;
    width: 30%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .ac--container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
  }

  .ac--meta__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
  }

  .ac--meta__right .meta--item {
    margin-left: 0.25rem;
  }

  .blog--detail {
    background-color: var(--clr-grey-ultralight);
  }

  .blog--detail .articles {
    max-width: 880px;
  }

  .blog--detail .article--full {
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 16px;
  }

  /* .hero--plans {
    margin-bottom: 6rem;
  } */

  .plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2rem 4rem 2rem;
  }

  .plan--card {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  /* .plan--card {
    margin-left: 2rem;
  }

  .plan--card:first-child {
    margin-left: 0;
  } */

  .plan--title {
    font-size: 2.5rem;
  }

  .spec--item {
    margin: 2rem 2rem 1rem 2rem;
  }

  .spec--item--title {
    font-size: 1.5rem;
  }

  .spec--item--description {
    max-width: 95%;
  }

  .promises {
    margin: 0 auto;
    padding: 0;
  }

  .promises--title {
    font-size: 4rem;
  }

  .promises--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
  }

  .promise {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: none;
    border-left: 1px solid var(--clr-base-ultralight);
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    margin-left: 0rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .promise:first-child {
    border-left: none;
    margin-left: 0;
  }

  .promise--item--title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 1rem 0.5rem 1rem;
  }

  .promise--item--copy{
    padding: 0 1rem 0.5rem 1rem;
  }

  /* .promise--item--copy {
    max-width: 95%;
  } */
}

table, th, td {
  border-collapse: collapse;
  border-bottom: 1px solid var(--clr-base-darker);
  vertical-align: left;
}

td {
   padding:5px 5px 5px 0;
}

.vimeo {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
    padding-top: min(810px, 56.25%); /* 16:9 Aspect Ratio */
}

.vimeo-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
