---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index,follow" />

  <title>{{ page.title }}</title>

  {% seo title=false %}
  <!-- Stylesheet -->
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% stylesheet css/normalize.min.css %}
  {% stylesheet css/style.css %}
  {% stylesheet css/code.css %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
  <link rel="manifest" href="/assets/img/site.webmanifest" />
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#310a53" />
  <meta name="msapplication-TileColor" content="#ffda60" />
  <meta name="theme-color" content="#ffda60" />
  {% if page.external %}
  <meta http-equiv="refresh" content="2; URL={{ page.external }}" />
  {% endif %}
</head>

{% if page.layout == "default" or page.new %}
<body class="blog blog--detail">
{% elsif page.blog %}
<body class="blog">
{% elsif page.pricing %}
<body class="pricing">
{% else %}
<body class="home">
{% endif %}
  {% include navigation.html %}

  <div class="wrapper">
    {{ content }}
  </div>

  {% include footer.html %}
</body>

</html>
