---
layout: base
---

{% assign author = site.data.authors[page.author] %}

{% if page.go_back_to %}
<header class="page--header page--header__small">
  <div class="header--content">
    <h2 class="header--title header--title__blog header--title__small">
      <a href="{{ page.go_back_to }}">← {{ page.go_back_header }}</a></h2>
  </div>
</header>
{% endif %}

<section class="articles">
  <article class="article article--full">
    <div class="article--container article--container__full">
      <header class="ac--header">
        <h1 class="ac--title ac--title__full">
          {% if page.page_title %}{{ page.page_title }}{% else %}{{ page.title }}{% endif %}
        </h1>
        {% if author %}
        <div class="ac--author">
          {% if author.img %}<img src="/assets/img/avatar/{{ author.img }}" alt="author.name">{% endif %}
          {% if author.linkedin %}
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}/">{{ author.first_name }}</a>{% else %}
          {{ author.first_name }}{% endif %}{% if page.date %}, {{ page.date | date: "%-d %B %Y" }}{% endif %}
        </div>
        {% endif %}
        {% if page.image_header %}
        {% if page.image_url %}<a href="{{ page.image_url}}" target="_blank">{% endif %}
        <img class="ac--visual" src="{{ page.image }}"{% if page.image_tag %} alt="{{ page.image_tag }}"{% endif %}/>
        {% if page.image_url %}</a>{% endif %}
        {% endif %}
      </header>
      <div class="ac--content">
        {% if page.external %}<p>We should redirect you to another page. If you are not redirected in a few seconds,
        <a href="{{ page.external }}">click here</a>.</p>
        {% else %}{{ content }}{% endif %}
      </div>
    </div>
  </article>
</section>

{% if page.show_followus %}
  {% include followus.html %}
{% endif %}
