<section class="followus">
  <h2 class="followus--title">Join the Movement</h2>
  <div class="followus--note">
    <svg class="note--icon note--icon_spark" width="100%" height="100%" viewBox="0 0 53 91" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M19.9757 0.945C18.7263 -0.310969 16.6954 -0.316319 15.4394 0.933049C14.1834 2.18242 14.1781 4.21339 15.4274 5.46936L47.4808 37.692C48.7302 38.948 50.7611 38.9534 52.0171 37.704C53.2731 36.4546 53.2784 34.4237 52.0291 33.1677L19.9757 0.945ZM48.3773 72.9059C50.0227 72.2495 50.8245 70.3835 50.1682 68.738C49.5118 67.0925 47.6457 66.2907 46.0003 66.9471L2.56299 84.2747C0.917536 84.9311 0.115738 86.7971 0.772128 88.4426C1.42852 90.088 3.29453 90.8898 4.93999 90.2334L48.3773 72.9059ZM4.325 43.0411C2.58203 42.7242 0.912169 43.8802 0.595265 45.6232C0.278361 47.3662 1.43442 49.036 3.17739 49.3529L31.4049 54.4852C33.1479 54.8021 34.8177 53.646 35.1346 51.9031C35.4515 50.1601 34.2955 48.4902 32.5525 48.1733L4.325 43.0411Z"
        fill="#8559FF" />
    </svg>

    <p>&iexcl;Viva La Data Science Revoluci&oacute;n&#33;</p>

    <svg class="note--icon note--icon_spark" width="100%" height="100%" viewBox="0 0 53 57" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M49.5441 7.23116C51.3082 7.06885 52.6067 5.50719 52.4444 3.74309C52.2821 1.979 50.7204 0.680493 48.9563 0.842803L14.1999 4.04065C12.4358 4.20296 11.1373 5.76462 11.2996 7.52872C11.4619 9.29282 13.0236 10.5913 14.7877 10.429L49.5441 7.23116ZM8.92731 55.7727C10.0213 57.1661 12.0377 57.4089 13.4311 56.3149C14.8245 55.221 15.0673 53.2045 13.9733 51.8111L6.58042 42.3945C5.48646 41.0011 3.47003 40.7584 2.07662 41.8523C0.683197 42.9463 0.440441 44.9627 1.53441 46.3562L8.92731 55.7727ZM41.492 43.6275C43.0987 44.3737 45.0061 43.6761 45.7523 42.0694C46.4986 40.4626 45.801 38.5552 44.1942 37.809L13.3083 23.4649C11.7016 22.7187 9.79414 23.4163 9.04794 25.023C8.30174 26.6297 8.99933 28.5371 10.6061 29.2833L41.492 43.6275Z"
        fill="#8559FF" />
    </svg>
  </div>

  <div class="followus--button">
    <a href="https://www.linkedin.com/company/askanna-io/" class="followus--pill pill">
      Follow us on LinkedIn
    </a>
  </div>

</section>
