<footer class="footer">
  <ul class="footer--list">
    <li class="list--item">
      <h3 class="footer--header">
        <a class="list--link" href="/">AskAnna - Run, track & reproduce data science</a>
      </h3>
    </li>
    <li class="list--item">
      <a class="list--link" href="mailto:hello@askanna.io">hello@askanna.io</a> |
      <a class="list--link" href="/journal/">Journal</a> |
      <a class="list--link" href="https://www.linkedin.com/company/askanna-io/">Follow us on LinkedIn</a> or
      <a class="list--link" href="https://twitter.com/AskAnnaHQ">Twitter</a>
    </li>
  </ul>

  <ul class="footer--list">
    <li class="list--item">
      <a class="list--link" href="/privacy/">Privacy Statement</a>,
      <a class="list--link" href="/terms/">Terms of Use</a>
      & <a class="list--link" href="/dpa/">Data Processing Agreement</a>
    </li>
    <li class="list--item">
      Copyright © 2019 - present AskAnna B.V.
    </li>
  </ul>
</footer>

{% javascript js/script.js %}

<!-- Copy button -->
{% javascript js/clipboard.min.js %}
{% javascript js/copy.js %}
<!-- End Copy button -->

<!-- Intercom -->
<script>
  window.intercomSettings = {
    app_id: "c6wuieqm"
  };
</script>

<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/c6wuieqm'
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/c6wuieqm';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- End Intercom -->
