<nav class="navigation">
  <div class="brand">
    <a href="/" class="brand--link">
      <img class="brand--logo" src="/assets/img/askanna-outline.svg" alt="AskAnna" />
    </a>
  </div>
  <ul class="menu mb--hidden">
    <li class="menu--item"><a href="/promise/" class="menu--item--link">Our promise</a></li>
    <li class="menu--item"><a href="/pricing/" class="menu--item--link">Pricing</a></li>
    <li class="menu--item"><a href="/how-to/" class="menu--item--link">How to...</a></li>
    <li class="menu--item"><a href="/new/" class="menu--item--link">What's new</a></li>
    <li class="menu--item"><a href="https://docs.askanna.io" class="menu--item--link">Documentation</a></li>
    <li class="menu--item"><a href="https://beta.askanna.eu" class="menu--item--link">Sign in</a></li>
    <li class="menu--item">
      <a href="https://beta.askanna.eu/" class="menu--item--link menu--item--link__cta pill">Explore AskAnna</a>
    </li>
  </ul>
  <div class="nav--toggle mb--visible">
    <input id="burger" class="burger" type="checkbox" value="">
    <label class="burger--toggle" for="burger"><span class="burger--icon"></span>
    </label>
  </div>
</nav>
