---
layout: base
new: True
title: What was new in 2021
description:
  We're constantly making AskAnna better. Here you find the highlights about new features
  and improvements we made in 2021.
---

<header class="page--header page--header__small">
  <div class="header--content">
    <h2 class="header--title header--title__blog header--title__small">
      <a href="/new/">← Check what we recently released</a></h2>
  </div>
</header>

<section class="articles">
  <article class="article article--full">
    <div class="article--container article--container__full">
      <header class="ac--header">
        <h1 class="ac--title ac--title__full">
          {{ page.title }}
        </h1>
      </header>
      <div class="ac--content">
        We're constantly making AskAnna better. Here you find the highlights about new features and improvements we
        made in 2021. Check our <a href="https://docs.askanna.io/releases/2021/">release notes</a> if you want to read about everything we released.
      </div>
    </div>
  </article>
  {% for update in site.product_updates reversed %}
  {% assign year = update.date | date: "%Y" %}
  {% if year == "2021" %}
  <article class="article article--full">
    <div class="article--container article--container__full">
      <header class="ac--header">
        <h1 class="ac--title ac--title__full">
          {{ update.title }}
        </h1>
      </header>
      <div class="ac--content">
        {{ update.content }}
      </div>
    </div>
  </article>
  {% endif %}
  {% endfor %}
  <article class="article article--full">
    <div class="article--container article--container__full">
      <h2 align="center">
        <a href="/new/2020/">See what we did in 2020</a>
      </h2>
    </div>
  </article>
</section>
