---
layout: base
blog: True
redirect_from:
  - /how-to/2021/
  - /how-to/2022/
  - /how-to/2023/
title: "How to do it by AskAnna"
page_title: "How to by Anna"
description:
  We would love to share how you can handle data and run data science models. On this page we share tips & tricks of
  how you can do it yourself. Not only related to the AskAnna platform, but also generic about handling data, data
  science, machine learning and AI.
---

<header class="page--header">
  <div class="header--content">
    <h1 class="header--title header--title__blog">{{ page.page_title }}</h1>
  </div>
</header>

<div class="hero--note">
  <p class="note--copy">
    Check the public projects!
  </p>
  <svg class="note--icon" width="40" height="41" viewBox="0 0 40 41" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M16.297 30.567c-3.01 1.101-6.84 1.299-11.627.115l-.603 2.14c5.094 1.26 9.389 1.103 12.92-.189 3.541-1.296 6.214-3.698 8.104-6.744 3.348-5.4 4.25-12.83 3.353-20.005l6.063 3.95c.5.326 1.187.174 1.532-.34.345-.513.218-1.193-.283-1.52l-8.165-5.319c-.5-.326-1.187-.174-1.532.34l-5.624 8.366c-.345.513-.218 1.194.283 1.52.5.327 1.187.175 1.532-.338l4.043-6.016c.798 6.763-.12 13.507-3.063 18.251-1.651 2.663-3.934 4.692-6.933 5.79z"
      fill="#009669" />
  </svg>
</div>

<section class="featured">
  {% assign how-tos-featured = site.how_to | where_exp: "how-to", "how-to.featured"  %}
  {% for how-to in how-tos-featured %}
  <article class="featured--article">
    <img class="fa--visual" src="{{ how-to.image }}"
    {% if how-to.image_tag %} alt="{{ how-to.image_tag }}"{% endif %}/>
    <div class="fa--container">
      <header class="fa--header">
        <h2 class="fa--title">
          <a href="{{ how-to.url }}">Up and running in 15 minutes</a>
        </h2>
      </header>
      <div class="fa--content">
        <p class="fa--excerpt">
          {{ how-to.content | truncatewords: 70, "" }}
        </p>
      </div>
      <footer class="fa--footer">
          <a href="{{ how-to.url }}" class="promise--cta pill">Read more &rsaquo;</a>
      </footer>
    </div>
  </article>
  {% endfor %}
</section>

<section class="articles articles--overview">
  {% assign how-tos = site.how_to | where_exp: "how-to", "how-to.featured == False"  %}
  {% for how-to in how-tos %}
  <article class="article--card">
    <div class="ac--container">
      <header class="ac--header">
        <h2 class="ac--title">
          <a href="{% if how-to.external %}{{ how-to.external }}{% else %}{{ how-to.url }}{% endif %}"
          >{% if how-to.page_title %}{{ how-to.page_title }}{% else %}{{ how-to.title }}{% endif %}</a>
        </h2>
      </header>
      <div class="ac--excerpt">
        <p>
          <a href="{% if how-to.external %}{{ how-to.external }}{% else %}{{ how-to.url }}{% endif %}">
          {{ how-to.excerpt | strip_html }}
          </a>
        </p>
      </div>
    </div>
  </article>
  {% endfor %}
</section>
