---
layout: base
---

<header class="hero">
  <div class="hero--content">
    <div class="hero--note">
      <p class="note--copy">
        Check the public projects!
      </p>
      <svg class="note--icon" width="40" height="41" viewBox="0 0 40 41" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M16.297 30.567c-3.01 1.101-6.84 1.299-11.627.115l-.603 2.14c5.094 1.26 9.389 1.103 12.92-.189 3.541-1.296 6.214-3.698 8.104-6.744 3.348-5.4 4.25-12.83 3.353-20.005l6.063 3.95c.5.326 1.187.174 1.532-.34.345-.513.218-1.193-.283-1.52l-8.165-5.319c-.5-.326-1.187-.174-1.532.34l-5.624 8.366c-.345.513-.218 1.194.283 1.52.5.327 1.187.175 1.532-.338l4.043-6.016c.798 6.763-.12 13.507-3.063 18.251-1.651 2.663-3.934 4.692-6.933 5.79z"
          fill="#009669" />
      </svg>
    </div>

    <h1 class="hero--title">
      Track, trace and share <br /> your Data Science work
    </h1>
    <h2 class="hero--lead">
      AskAnna makes complex matters simple and intuitive to use. We empower you to be in control of your data science
      project. Time is valuable. With AskAnna you can use more to tune your data and models.
    </h2>
    <a href="https://beta.askanna.eu/signup/" class="hero--link hero--link__cta pill">
      Try AskAnna for free
    </a>
  </div>

  <div class="hero--footer">
    <img src="assets/img/mb-graph-frame.png" alt="devider" class="hero--devider--image mb--visual" />
    <img src="assets/img/dt-graph-frame.png" alt="devider" class="hero--devider--image mb--hidden" />
  </div>
</header>

<section id="demo" class="demo">
  <div class="vimeo">
    <iframe src="https://player.vimeo.com/video/563696142" class="vimeo-iframe" frameborder="0"
    allow="fullscreen; picture-in-picture" allowfullscreen
    title="Meet AskAnna: The platform to run, track & reproduce data science"></iframe>
  </div>
</section>

<section class="features">
  <h2 class="features--title">Why use AskAnna?</h2>

  <article class="feature">
    <img class="feature--visual" src="assets/img/versioncontrol.gif" alt="Data Science Version Control" />
    <div class="feature--container">
      <header class="feature--header">
        <h2 class="feature--title">Data Science Version Control</h2>
      </header>
      <div class="feature--content">
        <p class="feature--copy">
          Having full confidence in your models, comes with transparency, traceability and reproducibility. Get in
          the
          driver's seat with AskAnna Data Science version control. You’ll have a central dashboard where you can
          easily check how a result was generated. One location where you can see the input used, which results were
          generated, and on what environment & code the job was running. All within seconds and on just one page.
        </p>
      </div>
      <footer class="feature--footer">
        <a href="https://beta.askanna.eu/signup/" class="feature--link feature--link__inline">Get access today &rsaquo;</a>
      </footer>
    </div>
  </article>

  <article class="feature">
    <img class="feature--visual" src="assets/img/15mins.png" alt="AskAnna is up and running in 15 minutes" />
    <div class="feature--container">
      <header class="feature--header">
        <h2 class="feature--title">Up and running in 15 minutes</h2>
      </header>
      <div class="feature--content">
        <p class="feature--copy">
          Easy does it. Use AskAnna to create the Data Science DevOps infrastructure you want using Yaml. Setting up
          the infrastructure to operationalize used to take days with DevOps. Your project was on the list and
          probably not priority number 1. Take back control over your MLOps and easily configure your own
          infrastructure in 15 minutes.
        </p>
      </div>
      <footer class="feature--footer">
        <a href="/how-to/2021/up-and-running-in-15-minutes/" class="feature--link feature--link__inline">Challenge us
          with this project &rsaquo;</a>
      </footer>
    </div>
  </article>

  <article class="feature">
    <img class="feature--visual" src="assets/img/template.png" alt="Easy and flexible templates" />
    <div class="feature--container">
      <header class="feature--header">
        <h2 class="feature--title">Easy and flexible templates</h2>
      </header>
      <div class="feature--content">
        <p class="feature--copy">
          Stop doing the same thing over and over again. Just reuse the code, models and even project structures you
          love. It’s cookiecutter Data Science deluxe. Especially when you are working in teams, you want to be able
          to structure your projects so everyone gets it. Using existing or creating your own templates will make
          your
          life so much easier.
        </p>
      </div>
      <footer class="feature--footer">
        <a href="https://docs.askanna.io/project/#project-template" target="_blank"
          class="feature--link feature--link__inline">Start with a template &rsaquo;</a>
      </footer>
    </div>
  </article>

</section>

<section class="manifesto" id="manifesto">
  <div class="manifesto--container">
    <img class="manifesto--visual" src="assets/img/icon-outline.svg" alt="AskAnna" />
    <h2 class="manifesto--title">Collaborate,<br>Automate, Act!</h2>
    <h3 class="manifesto--lead">
      As Data Scientists we understand how time consuming getting your work in production is. Creating your model,
      getting it to work and briefing the software engineers. But no more! We are committed to creating the best
      Data
      Science tools to improve your efficiency, collaboration, and speed. Let’s bring back the focus on the things
      you
      love doing.
    </h3>
    <br />
    <a href="/promise/" class="hero--link hero--link__cta pill">
      Read more about<br />The AskAnna Promise
    </a>
  </div>
</section>

{% include followus.html %}

<script src="https://player.vimeo.com/api/player.js"></script>
