---
layout: base
blog: True
redirect_from:
  - /journal/2021/
  - /journal/2022/
  - /journal/2023/
title: "Journal by AskAnna"
page_title: "Anna&apos;s Journal"
description:
  In Anna's Journal you can read more background information about stuff we made for AskAnna. If you are curious to read
  about why we build a feature or find out more about the technical side of AskAnna, then this is the place to be.
---

<header class="page--header">
  <div class="header--content">
    <h1 class="header--title header--title__blog">{{ page.page_title }}</h1>
  </div>
</header>

<div class="hero--note">
  <p class="note--copy">
    Start using AskAnna for free!
  </p>
  <svg class="note--icon" width="40" height="41" viewBox="0 0 40 41" fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M16.297 30.567c-3.01 1.101-6.84 1.299-11.627.115l-.603 2.14c5.094 1.26 9.389 1.103 12.92-.189 3.541-1.296 6.214-3.698 8.104-6.744 3.348-5.4 4.25-12.83 3.353-20.005l6.063 3.95c.5.326 1.187.174 1.532-.34.345-.513.218-1.193-.283-1.52l-8.165-5.319c-.5-.326-1.187-.174-1.532.34l-5.624 8.366c-.345.513-.218 1.194.283 1.52.5.327 1.187.175 1.532-.338l4.043-6.016c.798 6.763-.12 13.507-3.063 18.251-1.651 2.663-3.934 4.692-6.933 5.79z"
      fill="#009669" />
  </svg>
</div>

<section class="featured">
  {% assign posts-featured = site.posts | where_exp: "posts", "posts.featured"  %}
  {% for post in posts-featured %}
  <article class="featured--article">
    <img class="fa--visual" src="{{ post.image }}"
    {% if how-to.image_tag %} alt="{{ post.image_tag }}"{% endif %}/>
    <div class="fa--container">
      <header class="fa--header">
        <h2 class="fa--title">
          <a href="{{ post.url }}">{{ post.page_title }}</a>
        </h2>
      </header>
      <div class="fa--content">
        <p class="fa--excerpt">
          {{ post.content | truncatewords: 70, "" }}
        </p>
      </div>
      <footer class="fa--footer">
          <a href="{{ post.url }}" class="promise--cta pill">Read more &rsaquo;</a>
      </footer>
    </div>
  </article>
  {% endfor %}
</section>

<section class="articles articles--overview">
  {% assign posts = site.posts | where_exp: "posts", "posts.featured == False"  %}
  {% for post in posts %}
  <article class="article--card">
    <div class="ac--container">
      <header class="ac--header">
        {% if post.date %}
        <div class="ac--header--meta">
            {{ post.date | date: "%-d %B %Y" }}
        </div>
        {% endif %}
        <h2 class="ac--title">
          <a href="{{ post.url }}">{% if post.page_title %}{{ post.page_title }}{% else %}{{ post.title }}{% endif %}</a>
        </h2>
      </header>
      <div class="ac--excerpt">
        <p>
          <a href="{{ post.url }}">
          {{ post.excerpt | strip_html }}
          </a>
        </p>
      </div>
    </div>
  </article>
  {% endfor %}
</section>
