---
layout: base
pricing: True
title: Plans & Pricing of AskAnna
---

<div class="plan--wrapper">

  <header class="hero--plans">
    <div class="hero--content">
      <div class="hero--note">
        <p class="note--copy">
          Check the public projects!
        </p>
        <svg class="note--icon" width="40" height="41" viewBox="0 0 40 41" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M16.297 30.567c-3.01 1.101-6.84 1.299-11.627.115l-.603 2.14c5.094 1.26 9.389 1.103 12.92-.189 3.541-1.296 6.214-3.698 8.104-6.744 3.348-5.4 4.25-12.83 3.353-20.005l6.063 3.95c.5.326 1.187.174 1.532-.34.345-.513.218-1.193-.283-1.52l-8.165-5.319c-.5-.326-1.187-.174-1.532.34l-5.624 8.366c-.345.513-.218 1.194.283 1.52.5.327 1.187.175 1.532-.338l4.043-6.016c.798 6.763-.12 13.507-3.063 18.251-1.651 2.663-3.934 4.692-6.933 5.79z"
            fill="#009669" />
        </svg>
      </div>

      <h1 class="hero--title">
        Plans &amp; Pricing
      </h1>
      <h2 class="hero--lead">
        Start using AskAnna for free! All features are free while we are running in
        Beta. When we leave Beta, we will ask you to switch to one of the plans below.
      </h2>
      <h2 class="hero--lead">
        Specific needs? We are happy to discuss a Tailored Solution with advanced features.
      </h2>
    </div>
  </header>

  <section class="plans" id="plans">
    <article class="plan plan--card">
      <header class="plan--header ">
        <h2 class="plan--title">Free</h2>
        <div class="plan--fee plan--fee__free">
          <p class="fee--price">
            &euro; 0
          </p>
          <p class="fee--period">&nbsp;</p>
          <a href="https://beta.askanna.eu/signup/" class="plan--cta pill">Sign up for a free plan</a>
        </div>
      </header>
      <div class="plan--content">
        <ul class="specs">
          <li class="spec--item">
            <h4 class="spec--item--title">1 Workspace</h4>
            <p class="spec--item--description">Organize your projects and team in a workspace.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">2 Projects</h4>
            <p class="spec--item--description">Do you need more projects? Upgrade to AskAnna Basic.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">3 Users</h4>
            <p class="spec--item--description">Invite others, and see how easy you can collaborate using AskAnna.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">100 Minutes Runtime</h4>
            <p class="spec--item--description">You have 100 minutes of runtime with 1 CPU and 2 GB memory. Need more? Buy additional runtime.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">3 Month History</h4>
            <p class="spec--item--description">You can access every run from the past three months.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">10 GB storage</h4>
            <p class="spec--item--description">You can store data, models, code and other files. Need more? You can purchase additional storage.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Chat Support</h4>
            <p class="spec--item--description">We are always available via chat. You can ask us anything.</p>
          </li>
        </ul>
      </div>
      <footer class="plan--footer">
        <a href="https://calendly.com/robbertbos/demo-askanna"
            class="plan--cta plan--cta__footer pill">
          Book a demo
        </a>
      </footer>
    </article>

    <article class="plan plan--card">
      <header class="plan--header ">
        <h2 class="plan--title">Basic</h2>
        <div class="plan--fee plan--fee__basic">
          <p class="fee--price">
            &euro; 250
          </p>
          <p class="fee--period">monthly / annualy: &euro; 2,500</p>
          <a href="https://beta.askanna.eu/signup/" class="plan--cta pill">
            Start using AskAnna for free
          </a>
        </div>
      </header>
      <div class="plan--content">
        <ul class="specs">
          <li class="spec--item">
            <h4 class="spec--item--title">1 Workspace</h4>
            <p class="spec--item--description">Organize your projects and team in a workspace.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Unlimited Projects</h4>
            <p class="spec--item--description">Create as many projects
              as you need. There is no limit.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Unlimited Users</h4>
            <p class="spec--item--description">Invite as many people as you need to collaborate with.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Run All Day Long</h4>
            <p class="spec--item--description">There is always 1 CPU with
              2 GB of memory available. Need more? Easily configure what you need.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Unlimited History</h4>
            <p class="spec--item--description">You can access every run
              from the past...unless you removed it.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">100 GB storage</h4>
            <p class="spec--item--description">You can store data, models, code and other files. Need more? You can purchase additional storage.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Chat + Video Support</h4>
            <p class="spec--item--description">We are also available to
              support you via video calls.</p>
          </li>
        </ul>
      </div>
      <footer class="plan--footer">
        <a href="mailto:support@askanna.io" class="plan--cta plan--cta__footer pill">
          Questions? Ask us anything!
        </a>
      </footer>
    </article>

    <article class="plan plan--card">
      <header class="plan--header ">
        <h2 class="plan--title">Tailored</h2>
        <div class="plan--fee plan--fee__tailored">
          <p class="fee--price">
            &euro; 2,500 *
          </p>
          <p class="fee--period">monthly / * starting from</p>
          <a href="mailto:support@askanna.io" class="plan--cta pill">Contact us</a>
        </div>
      </header>
      <div class="plan--content">
        <ul class="specs">
          <li class="spec--item">
            <h4 class="spec--item--title">> 1 Workspace</h4>
            <p class="spec--item--description">Contact us to check discounts
              in case you need more.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Unlimited Projects</h4>
            <p class="spec--item--description">Create as many projects
              as you need. There is no limit.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Unlimited Users</h4>
            <p class="spec--item--description">Invite as many people as you need to collaborate with.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">On Premise</h4>
            <p class="spec--item--description">Run AskAnna in your own cloud with the specifications you need. Or let us host it for you.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">History & Backups</h4>
            <p class="spec--item--description">Have access to every run from the past, and create backups.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">1 TB storage</h4>
            <p class="spec--item--description">You can store data, models, code and other files. Need more? You can purchase additional storage.</p>
          </li>
          <li class="spec--item">
            <h4 class="spec--item--title">Hands-on Support</h4>
            <p class="spec--item--description">We can work with you on how to design and configure projects.</p>
          </li>
        </ul>
      </div>
      <footer class="plan--footer">
        <a href="mailto:support@askanna.io" class="plan--cta plan--cta__footer pill">
          Let's talk about what you need
        </a>
      </footer>
    </article>
  </section>
</div>


<section class="promises" id="promises">
  <header class="promises--header">
    <img class="promises--image" src="/assets/img/icon.svg" alt="Anna&apos;s Promises" />
    <h2 class="promises--title">Anna&apos;s Promises</h2>
  </header>
  <div class="promises--content">
    <article class="promise">
      <h4 class="promise--item--title">Don't pay too much</h4>
      <p class="promise--item--copy"><span class="em">
        Early users</span> will keep their original fee, even when plans change. Only new
        features might be out of scope. If you sign up now, you make sure you will not pay
        too much. That’s our way of saying thank you for believing in us!
      </p>
    </article>
    <article class="promise">
      <h4 class="promise--item--title">Track, trace and compare</h4>
      <p class="promise--item--copy">
        Keeping track of every version of what you do in your data science project
        can be a challenge. With Askanna, we <span class="em">make it easy</span> to track what you do and compare your runs. This will help you to be in control.
      </p>
    </article>
    <article class="promise">
      <h4 class="promise--item--title">You own your data</h4>
      <p class="promise--item--copy">
        You own your workspace, your projects, and your data. You should have the freedom to
        host your project somehwere else. It's always possible to
        <span class="em">export your data</span> from AskAnna.
      </p>
    </article>
  </div>
  <footer class="promises--footer">
    <a href="/promise/" class="promise--cta promise--cta__footer pill">
      Read more about Anna's promises
    </a>
  </footer>
</section>

{% include followus.html %}
